/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #A46130;
$black-color: #171617;
$grey-color: #333;
$white-grey: #F3F4F7;
$second-bege: #E8D6C6;
$brown-color: #503D33;

.bg-main-color {
    background-color: $main-color;
}

.bg-bege {
    background-color: $second-bege;
}

.bg-secondary-color {
    background-color: $white-grey;
}

.bg-black {
    background-color: $black-color;
}

.text-black {
    color: $black-color;
}

.text-brown {
    color: $brown-color;
}

.text-grey {
    color: $grey-color;
}

.text-main {
    color: $main-color;
}

.border-radius {
    border-radius: 50px;
}

.border-black {
    border-color: $black-color;
}

.font-karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
