.image-container {
  height: inherit;
  width: inherit;

  img {
    padding: 2rem 60px 0 60px;
  }
}

.buttons {
  bottom: -320px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
