<section class="grid mt-4">

    <p
      class="border-radius border border-black py-1 px-4 grid-cols-1 w-fit m-auto">
      Olá
    </p>

    <h2
      class="pt-4 sm: text-2xl text-center font-karla">
        Sou <span class="capitalize text-main font-semibold ">manuela perin</span>,<br>
        Engenheira civil
    </h2>

    <div class="relative h-full w-full flex justify-center">
      <div class="buttons p-2 w-fit text-white z-10 absolute flex justify-center items-center rounded-full">
        <button
          class="py-2 px-4 rounded-full blur-none"
          [ngClass]="isPortfolioActive() ? 'bg-main-color border-white border': 'bg-transparent'"
          (click)="isActive('portfolio')"
        >
          Portfolio <span class="arrow">↗</span>
        </button>
        <button
          class="py-2 px-4 rounded-full blur-none"
          [ngClass]="!isPortfolioActive() ? 'bg-main-color border-white border': 'bg-transparent'"
          (click)="isActive('contract')"
        >
          Contrate-me
        </button>
      </div>
      <div class="image-container flex justify-center mt-8">
        <img class="z-0 absolute bg-main-color rounded-full" src="{{ pathImage }}" alt="Manuela Perin autoral">
      </div>
    </div>



</section>
