<section class="container bg-secondary-color p-4">
  <div class="flex justify-center items-center">
    <img class="rounded-md w-10/12" src="{{ pathImage }}" alt="Manuela Perin autoral">
  </div>
  <h3 class="text-center text-2xl pt-4">Por quê <span class="text-main font-semibold">me contratar</span>?</h3>

  <p class="text-center text-grey">
    A MP Engenharia possui vasta experiência e uma
    equipe altamente qualificada, oferecendo soluções
    personalizadas  com qualidade e precisão. Comprometidos
    com a sustentabilidade e o atendimento ao cliente, garantimos excelência em todos os projetos.
  </p>

  <div class="flex mt-6 mb-12 justify-around">
    <p class="text-center text-grey">
      <span class="text-2xl text-black font-bold">{{ numeroProjetosConcluidos }}+</span> <br>
      Projetos Concluidos
    </p>
    <p class="text-center text-black">
     <span class="text-2xl text-black font-bold"> {{ numeroMentoriasRealizadas }}+</span> <br>
      Mentorias Realizadas
    </p>
  </div>

  <div class="flex justify-center items-center ">
    <button class="border-2 border-black rounded-md text-center p-4 w-10/12">Contrate-me</button>
  </div>

  <div class="flex gap-x-2">
    <app-card-feedback class="mt-2 relative" [listItemCardsFeedbacks]="listItemCardsFeedbacks()"></app-card-feedback>
  </div>
</section>
