@import "../../../styles";

.timeline {
  margin-top: 2rem;
}

.circle {
  width: 100%;
  border-radius: inherit;
  height: 100%;
}

.content {
  text-align: center;
  justify-items: center;
  position: relative;
  z-index: 99999;
}

.border {
  border: $black-color 1px dashed;
  border-radius: 50000px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cols-timeline {
  grid-template-columns: 1fr .5fr 1fr;
}

