<header class="row flex content-center justify-center mt-4">
  <!--  TODO: Verificar bg do header para igual ao do figma-->
  <ul 
    class="
    container flex items-center justify-between capitalize overflow-hidden text-xs text-white bg-black p-4 border-radius mx-4
    sm:text-xs w-full
    md:text-sm w-8/12 gap-x-4 md:justify-none
    lg:text-lg 
    xl:text-lg
      ">
    <li class="active">home</li>
    <li>sobre</li>
    <li>mperin</li>
    <li>projeto</li>
    <li>contatos</li>
  </ul>
</header>
